.action {
  width: 80px;
  height: 60px;
  background-color: aqua;
  border-radius: 5px;
  font-size: 20px;
}

.value {
  font-size: 20px;
  width: 60px;
  height: 60px;
  background-color: bisque;
  border-radius: 5px;
  color: brown;
}
.equal,
.operators {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: aqua;
  color: black;
  font-size: 20px;
}
.equal {
  background-color: red;
  color: white;
}
