.action {
  width: 80px;
  height: 25px;
  background-color: aqua;
  border-radius: 5px;
  font-size: 20px;
}

.value {
  font-size: 15px;
  width: 30px;
  height: 30px;
  background-color: bisque;
  border-radius: 5px;
  color: brown;
}
.equal,
.operators {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: aqua;
  color: black;
  font-size: 15px;
}
